.plan_view_card {
    background-color: white;
    border-color: yellow;
    border-width: 5px;
    border-radius: 1rem;
    padding: 2rem;
    color: #003c71;
    position: relative;
}

.title {
    margin-right: 1rem;
}

.delete_button {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.plan_view_card:hover .delete_button {
    display: block;
}

.delete_button:hover {
    background-color: #cc0000;
}
